{% extends "hello/layout.html" %}
{% block title %}
Catalog1
{% endblock %}
{% block content %}
<main>
    <section class="product-list">
        {% for Item in remaining_products %}
        <div class="product">
            <a href="{% url 'prodDetails' Item.name %}">
          <h2>{{ Item.name }}</h2>
            </a>
          {% load static %} 
          <img src="{% static 'hello/images/' + Item.image %}" alt="{{ Item.name }}">
        
          <p>Ksh {{ FarmingEquipment.price }} per day</p>
          
          <p>{{ Item.description }}</p>
        
          <button {% if user.is_authenticated %}onclick="addToCart('{{ Item.name }}', {{ Item.price }})"{% else %}disabled{% endif %}>Add to Cart</button>
        </div>
        {% endfor %}
    </section>
    <p>Go to page<a href="{% url 'catalog' %}">1</a><a href="{% url 'catalog1' %}"> ,2</a></p>
</main>
{% endblock %}