{% extends "hello/layout.html" %}
{% block title %}
Catalog
{% endblock %}
{% block content %}
<main>
    <section class="product-list">
        {% for FarmingEquipment in products %}
        <div class="product">
            <a href="{% url 'prodDetails' FarmingEquipment.name %}">
                <h2>{{ FarmingEquipment.name }}</h2>
                </a>        
                {% load static %} 
                <img src="{% static 'hello/images/' %}{{ FarmingEquipment.image.url }}" alt="{{ FarmingEquipment.name }}">                
          <p>Ksh {{ FarmingEquipment.price }} per day</p>
          
          <p>{{ FarmingEquipment.description }}</p>
        
          <button {% if user.is_authenticated %}onclick="addToCart('{{ FarmingEquipment.name }}', {{ FarmingEquipment.price }})"{% else %}disabled{% endif %}>Add to Cart</button>
        </div>
        {% endfor %}
        
    </section>
    <p>Go to page<a href="{% url 'catalog' %}">1</a><a href="{% url 'catalog1' %}"> ,2</a></p>
</main>
{% endblock %}