{% extends "hello/layout.html" %}
{% block title %}
Search
{% endblock %}
{% block content %}
<main>
    <section id="equipment-list" class="equipment-list">
        <!-- Equipment will be displayed here -->
        {% if products %}
        <ul>
            {% for FarmingEquipment in products %}
                <li>
                    <h2>{{ FarmingEquipment.name }}</h2>
                    <img src="{{ FarmingEquipment.image.url }}" alt="{{ FarmingEquipment.name }}">
                    <p>{{ FarmingEquipment.description }}</p>
                    <p>Price: {{ FarmingEquipment.price }}</p>
                    <form action="{% url 'add_to_cart' FarmingEquipment.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ FarmingEquipment.id }}">
                        <button type="submit">Add to Cart</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No products found.</p>
    {% endif %}
    </section>
</main>
{% endblock %}